{
        admin off
        servers :80 {
                protocols h1 h2 h3
        }
        servers :443 {
                protocols h1 h2 h3
        }
        on_demand_tls {
                interval 2m
                burst 5
        }
        pki {
            ca {
                name "Rob Tiemessen INTERNAL CA"
            }
        }
}
127.0.0.1 wordpress.hs.nl {
            tls {
            		issuer internal {
            			lifetime 365d
            			sign_with_root
            		}
            	}
             @http {
                protocol http
             }
            redir @http https://{host}{uri} permanent
            encode zstd gzip
            root * /var/www/html
            encode zstd gzip
            file_server
                    php_fastcgi unix//run/php-fpm.sock {
                    resolve_root_symlink on
                    read_timeout 30s
                    write_timeout 30s
            }

            header /wp-content/uploads/ {
                Cache-Control "public, max-age=31536000, must-revalidate"
            }
}
:80 :443 {
        tls {
           on_demand
        }
        @http {
           protocol http
        }
                    redir @http https://{host}{uri} permanent
        encode zstd gzip
        root * /var/www/html
        encode zstd gzip
        file_server
        header {
                Permissions-Policy interest-cohort=()
                X-Content-Type-Options nosniff
                Strict-Transport-Security max-age=31536000;
                X-Frame-Options DENY
                Referrer-Policy no-referrer-when-downgrade
        }
        header /wp-content/uploads/ {
                        Cache-Control "public, max-age=31536000, must-revalidate"
        }
        php_fastcgi unix//run/php-fpm.sock {
                resolve_root_symlink on
                read_timeout 30s
                write_timeout 30s
        }
}